@import '../node_modules/bulma/css/bulma.min.css';
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;

  main {
    height: 100%;

    .navbar-burger {
      z-index: 2;
      position: fixed;
    }

    #writer-root {
      z-index: 3;
      height: 100%;
      width: 100%;
      max-width: 400px;
      transition: transform 0.5s ease-in-out;
      overflow-y: auto;
      box-shadow: 2px 0px 5px #cccccc;
    }

    canvas {
      background-color: #fcfcfc;
      height: 100%;
      width: 100%;
    }

    @media screen and (max-width: 1000px) {
      .navbar-burger {
        visibility: initial;
      }

      #writer-root {
        position: fixed;
        max-width: 100%;
        transform: translateY(100%);
      }
    }
  }
}
